@model Chef

<form class="shadow p-3 rounded" asp-controller="Chef" asp-action="CreateChef" method="POST">

    <div class="mb-3">
      <label asp-for="FirstName"></label>
      <span asp-validation-for="FirstName" class="text-danger font-weight-bold">
      </span>
      <input class="form-control" asp-for="FirstName">
    </div>

    <div class="mb-3">
      <label asp-for="LastName"></label>
      <span asp-validation-for="LastName" class="text-danger font-weight-bold">
      </span>
      <input class="form-control" asp-for="LastName">
    </div>

    <div class="mb-3">
      <label asp-for="DoB"></label>
      <span asp-validation-for="DoB" class="text-danger font-weight-bold">
      </span>
      <input class="form-control" asp-for="DoB" type="date">
    </div>

    <button>Submit</button>

</form>